---
//@ts-nocheck

import Layout from "../layouts/Layout.astro";
import "../css/generel2.css";

const url =
  "https://evffelaoffslumrthkla.supabase.co/rest/v1/kalender_plugins?order=id.asc&limit=4";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2ZmZlbGFvZmZzbHVtcnRoa2xhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjczMzAsImV4cCI6MjA1OTg0MzMzMH0.IQISTIgMb0f2rhVxPfZjE2st9c7H3A3EHI3DZ-mEHv8";

const options = {
  headers: {
    apiKey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);

function formatDate(dateString) {
  const [year, month, day] = dateString.split("-");
  return `${day}-${month}-${year}`;
}

function formatTime(timeString) {
  if (!timeString) {
    return "Invalid time";
  }

  if (timeString.includes(":")) {
    return timeString.slice(0, 5);
  }

  const hours = timeString.slice(0, 2);
  const minutes = timeString.slice(2, 4);
  return `${hours}:${minutes}`;
}
---

<Layout>
  {
    data.map((event) => (
      <article>
        <div key={event.id}>
          <img src={`imgs_cl/${event.image_url}`} alt={event.title} />
          <h4>{event.title}</h4>

          <p class="date">
            {formatDate(event.date)} ⁕ {formatTime(event.timestart)} -
            {formatTime(event.timeend)}
          </p>
          <p class="p_intro">{event.introtext}</p>
          <a href={`/events/${event.slug}`}>➜ Læs mere </a>
        </div>
      </article>
    ))
  }
</Layout>

<style>
  article {
    width: 310px;
    margin-top: 1rem;
    height: 420px;
  }
  h1 {
    margin-top: 8rem;
    font-family: "robotobold_condensed";
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
  }
  img {
    width: 310px;
    height: 200px;
    object-fit: cover;
  }
  h4 {
    font-family: "robotobold_condensed";
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.6rem;
    color: var(--primarytext);
  }

  .date {
    font-family: "robotolight";
    font-size: 14px;
  }
  .p_intro {
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }
  a {
    font-family: "robotobold_condensed";
    text-decoration: none;
    font-size: 18px;
    color: var(--primarytext);
  }

  a:hover {
    transition: 0.3s;
    color: var(--logocolor);
  }

  @media (min-width: 850px) {
    article {
      width: 310px;
      margin-top: 2rem;
    }
    h4 {
      font-family: "robotobold_condensed";
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 0.6rem;
      color: var(--primarytext);
    }

    .p_intro {
      line-height: 1.6rem;
      margin-bottom: 1.3rem;
    }
  }
</style>
