---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import "../css/generel2.css";

const { img, dato, timestart, timeend } = Astro.props;

const url =
  "https://evffelaoffslumrthkla.supabase.co/rest/v1/kalender_plugins?order=id.asc&limit=1";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2ZmZlbGFvZmZzbHVtcnRoa2xhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjczMzAsImV4cCI6MjA1OTg0MzMzMH0.IQISTIgMb0f2rhVxPfZjE2st9c7H3A3EHI3DZ-mEHv8";

const options = {
  headers: {
    apiKey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);

function formatDate(dateString) {
  if (typeof dateString !== "string" || !dateString.includes("-")) {
    return "Invalid date";
  }

  const [year, month, day] = dateString.split("-");
  return `${day}-${month}-${year}`;
}

function formatTime(timeString) {
  if (!timeString) {
    return "Invalid time";
  }

  if (timeString.includes(":")) {
    return timeString.slice(0, 5);
  }

  const hours = timeString.slice(0, 2);
  const minutes = timeString.slice(2, 4);
  return `${hours}:${minutes}`;
}
---

<Layout>
  {
    data.map((event) => (
      <article>
        <div class="praktisk_singleview">
          <h4>Praktisk</h4>
          <p class="ikonlinje">
            <p class="date">
              <span class="emoji">⏰</span>
              {formatDate(dato)}: {formatTime(timestart)} -{formatTime(timeend)}
            </p>
          </p>

          <a href="https://kea.safeticket.dk/">
            <span class="kalenderemoji">📅</span>
            Tilmeld dig på safeticket.dk
          </a>

          <h5>
            <>
              <br />
            </>
            Location
          </h5>
          <p>
            Circular Lab, GBG.A 129, Guldbergsgade 29N, 2200 København, Denmark
          </p>
          <img src={img} alt={event.title} />
        </div>
      </article>
    ))
  }
</Layout>

<style>
  .praktisk_singleview {
    background-color: var(--boxcolor1);
    padding: 1.5rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  a {
    font-family: "robotobold_condensed";
  }

  .ikonlinje {
    display: flex;
    align-items: center;
  }

  .emoji {
    font-size: 1.5rem;
  }

  .kalenderemoji {
    margin-right: 10px;
  }

  .praktisk_singleview h4,
  .praktisk_singleview h5,
  .praktisk_singleview p,
  .praktisk_singleview a {
    margin: 0;
    color: #fff;
  }

  .praktisk_singleview a {
    text-decoration: underline;
    font-weight: bold;
  }

  .praktisk_singleview img {
    display: block;
    margin: 1.5rem auto 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }
</style>
